[data-tab-accordion-content] {
	display: none;

	@include breakpoint(large up) {
		display: block!important;
	}
}

[data-tab-accordion-trigger] {
	@include breakpoint(large up) {
		display: none!important;
	}
}

[data-tab-accordion] {
	@include breakpoint(medium down) {
		display: block!important;
	}
}