// ======================================================
// Block Styles
// ============
$mobile_breakpoint: 500px;

.video.layer_video {
    margin-bottom: 38px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

    @include breakpoint(($mobile_breakpoint - 1) down) {
        margin-bottom: 25px;
        width: 100%;
    }
    
    &:not(.layer_video--contain):not(.video--iframe) {  
        .video__container {
            height: 100%;

            @include breakpoint( small down ) {     
                height: 180px;
            }
        }    
    }

    // Alignment
    &--left {
        @include breakpoint($mobile_breakpoint up) {
            float: left;
            margin: 10px 38px 30px 0;
        }
    }

    &--right {
        @include breakpoint($mobile_breakpoint up) {
            float: right;
            margin: 10px 0 30px 38px;            
        }
    }

    // Width
    &--width_10 {
        @include breakpoint($mobile_breakpoint up) {
            width: 10%;
        }
    }

    &--width_25 {
        @include breakpoint($mobile_breakpoint up) {
            width: 25%;
        }
    }

    &--width_35 {
        @include breakpoint($mobile_breakpoint up) {
            width: 35%;
        }
    }

    &--width_50 {
        @include breakpoint($mobile_breakpoint up) {
            width: 50%;
        }
    }

    &--width_75 {
        @include breakpoint($mobile_breakpoint up) {
            width: 75%;
        }
    }

    &--width_100 {
        @include breakpoint($mobile_breakpoint up) {
            width: 100%;
        }
    }
}
