	/*
  	Flaticon icon font: Flaticon
  	Creation date: 12/03/2019 16:53
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-quote:before { content: "\f100"; }
.flaticon-maps-and-flags:before { content: "\f101"; }
.flaticon-youtube:before { content: "\f102"; }
.flaticon-instagram:before { content: "\f103"; }
.flaticon-phone-receiver:before { content: "\f104"; }
.flaticon-checked:before { content: "\f105"; }
.flaticon-add:before { content: "\f106"; }
.flaticon-menu:before { content: "\f107"; }
.flaticon-checkmark-icon:before { content: "\f108"; }
.flaticon-star:before { content: "\f109"; }
.flaticon-play-button:before { content: "\f10a"; }